/bin/
/csgo/
/platform/
chrome.pak
csgo.sh
csgo_linux64
*.map
*.trace
*.so
*.so.*
steam_appid.txt
thirdpartylegalnotices.doc
vgcore.*
.idea/*
csgo_linux
srcds_linux
#Dont ignore rocketui folder
!/csgo/rocketui
